.nav-mobile {
    display: flex;

    gap: 8px;
}

.picture-link {
    display: flex;
    align-items: center;
}

.picture {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

@media screen and (min-width: 736px) {
    .nav-mobile {
        display: none;
    }
}