.sector {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.title {
    font-size: var(--f-s-md);
    font-weight: var(--f-bold);
}

.routes {
    display: flex;
    flex-direction: column;
    gap: 6px;
}