.container {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;

    margin: 12px 0;
}

.aside {
    display: flex;

    border-left: 2px solid var(--c-darkgray-500);
    border-right: 2px solid var(--c-darkgray-500);
}

.gif-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gif-header {
    display: flex;
    gap: 4px;
    align-items: center;
}

.gif-header .details-gif {
    display: grid;
    place-content: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.gif-title {
    font-weight: var(--f-bold);
    font-size: var(--f-s-sm);
}

.gif-container {
    position: relative;
}

.gif-details {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.9);

    display: grid;
    padding: 1rem;
}

.gif-details-stat {
    font-size: var(--f-s-sm);
}

.gif-image {
    width: 100%;
    height: auto;
}


@media screen and (min-width: 736px) {
    .container {
        flex-direction: row;
    }

    .gif-container {
        width: 500px;
    }

    .gif-details {
        grid-template-columns: 1fr 1fr;

    }
}