.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;

  margin: 12px 0;
}

.aside {
  display: flex;
}

.gif-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gif-header {
  display: flex;
  gap: 4px;
  align-items: center;
}

.gif-header .details-gif {
  display: grid;
  place-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.gif-title {
  font-weight: var(--f-bold);
  font-size: var(--f-s-sm);
}

.gif-container {
  position: relative;
}

@media screen and (min-width: 736px) {
  .container {
    flex-direction: row;
  }

  .gif-container {
    width: 500px;
  }
}