.category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-link {
  display: flex;
  gap: 8px;
  min-height: 24px;
  text-decoration: none;
  color: var(--c-whywhite-300);
}

.title-link:hover {
  text-decoration: underline;
}

.title {
  font-size: var(--f-s-base);
  font-weight: var(--f-bold);
}

.see-all-link {
  display: flex;
  align-items: center;
  min-height: 24px;
  text-decoration: none;
  color: var(--c-gray-500);
}
