.header {
  display: flex;
  padding: 8px 0;

  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--c-whywhite-500);
  text-decoration: none;
}

.title {
  font-size: var(--f-s-lg);
  font-weight: var(--f-bold);
}