.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}

.principal-text {
    font-size: var(--f-s-base);
    line-height: 1.2;
}

.secondary-text {
    font-size: var(--f-s-sm);
    color: var(--c-gray-500);
}